.about-us-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.about-us-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-us-header h1 {
  font-size: 36px;
  color: #333;
}

.about-us-header p {
  font-size: 18px;
  color: #666;
}

.about-us-content {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 40px;
}
